
body {
   background-color: #2b2b2b; /* gray17 */
   background: white url("../image/page-background.png") repeat;
   color: #a3a3a3; /* gray64 */
}

h2 {
   margin: 0;
}

a, a:link {
   color: #a3a3a3; /* gray64 */
}
a:visited {
   color: #707070; /* gray44 */
}
a:hover {
   color: #d2b48c; /* tan */
}

section {
   background: #222;
   border: 1px solid #777;
   border-radius: 1em;
   float: left;
   margin: 0.25em;
   padding: 1em;
}

/*~ printing ---------------------------------------------------------------------------------- */

.non-printing {
   display: none;
}

@page {
    size: auto; /* auto is the initial value */
    margin: 25mm 25mm 25mm 25mm; /* this affects the margin in the printer settings */
}

@media print {
   body {
      background: none;
      margin: 0px; /* this affects the margin on the content before sending to printer */
   }
   section {
      background: none;
      color: black;
      float: none;
   }
   section:nth-child(2n) {
      page-break-after: always;
   }
}

/*~ calendar layout --------------------------------------------------------------------------- */

.row, .month-header {
   display: table-row;
}
.day-of-week {
   display: table-cell;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   text-align: center;
   vertical-align: top;
}
li.dad, li.mom, li.day, li.blank {
   border: 1px solid #777;
   color: black;
   display: table-cell;
   height: 5em;
   min-width: 8em;
   padding-top: 1em;
   text-align: center;
   vertical-align: top;
}

/*~ calendar text ----------------------------------------------------------------------------- */

.day-of-week-head {
   font-weight: bold;
   text-align: center;
}

.notes {
   font-size: 0.85em;
}

.centered {
   text-align: center;
}

/*~ calendar decorations ---------------------------------------------------------------------- */

.day-of-week-head {
   border: 1px double lightgray;
   min-width: 5em;
}

li.day-of-week {
   border-bottom: 1px solid #777;
   text-align: center;
   width: 7em;
}

li.day {
   background: white;
}

li.dad {
   background: orange url("../image/dad.png") left top no-repeat;
}

li.mom {
   background: Aquamarine url("../image/mom.png") left top no-repeat;
}


li.dad.no-spps {
   background-image: url("../image/dad.png"), url("../image/no-spps.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}
li.dad.no-uma {
   background-image: url("../image/dad.png"), url("../image/no-uma.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}
li.dad.no-school {
   background-image: url("../image/dad.png"), url("../image/no-school.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}

li.mom.no-spps {
   background-image: url("../image/mom.png"), url("../image/no-spps.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}
li.mom.no-uma {
   background-image: url("../image/mom.png"), url("../image/no-uma.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}
li.mom.no-school {
   background-image: url("../image/mom.png"), url("../image/no-school.png");
   background-position: left top, center bottom;
   background-repeat: no-repeat, no-repeat;
}

li.blank {
   background: none;
   border: none;
}
